{% extends "base.html" %}
{% block content %}
<div class="span4">
    {% if models %}
    <table class="table table-striped table-hover table-bordered" cellspacing="0">
        {% for model in models %}
        <tr>
            <td>{{ model.name }}</td>
            <td>
                <a href="{% url object_create slug=model.slug %}">Add object</a>
            </td>
            <td>
                <a href="{% url object_list slug=model.slug %}">View objects</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <a href="{% url model_create %}" class="btn btn-primary">Add model</a>
</div>
{% endblock %}
