{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extra_head %}
{{ form.media }}
<script type="text/javascript">
    $(function() {
        $('#formset tbody tr').formset({
            'prefix': 'fields',
            'added': function (el) {
                el.find("td.choices").hide();
            }
        });
        $("td.choices").hide();
        $("td.select select").live('change', function (e) {
            var val = $(this).val();
            var dropdown = $(this).closest("tr").find("td.choices");
            if (val == "DROPDOWN") {
                dropdown.show();
            }
            else {
                dropdown.hide();
            }
        });
    })
</script>
{% endblock %}

{% block content %}
<form action="." method="POST">
    {% crispy form %}
    <table id="formset" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            {% for form in field_formset.forms %}
            <tr>
                <td>{{ form.name }}</td>
                <td class="select">{{ form.kind }}</td>
                <td class="choices">{{ form.choices }}</td>
                <td>{{ form.DELETE }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ field_formset.management_form }}
    <div class="form-actions"><input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit">
        <input type="reset" name="reset" value="Reset" class="btn btn-inverse" id="reset-id-reset">
    </div>
</form>
{% endblock %}
