{% extends "base.html" %}
{% load schema_tags %}
{% block content %}
<div class="span8">
    {% if objects %}
    <table class="table table-striped table-hover table-bordered" cellspacing="0">
        {% for object in objects %}
        <tr>
            {% for attr in object.attrs.all %}
            <td><strong>{{ attr.key }}</strong></td>
            <td>{{ attr.value }}</td>
            {% endfor %}
            {% for model in object.model.model_set.all %}
            <td><strong>Related {{ model.name }}</strong></td>
            <td>
                <ol>
                    {% for rel in object.related.all|filter:model %}
                    <li>{{ rel }}</li>
                    {% endfor %}
                </ol>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <a href="{% url object_create slug=model.slug %}" class="btn btn-primary">Add object</a>
</div>
{% endblock %}
