{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action="." method="POST">
    {% crispy form %}
    <div class="form-actions"><input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit">
        <input type="reset" name="reset" value="Reset" class="btn btn-inverse" id="reset-id-reset">
    </div>
</form>
{% endblock %}
